//FONTS
@font-face {
    font-family: "TheSun";
    src: url(/assets/fonts/TheSun-Regular.woff2);
    font-weight: 300;
}

@font-face {
    font-family: "TheSun";
    src: url(/assets/fonts/TheSun-Medium.woff2);
    font-weight: 500;
}

@font-face {
    font-family: "TheSun";
    src: url(/assets/fonts/TheSun-Bold.woff2);
    font-weight: bold;
}

@font-face {
    font-family: "TheSunHeavy";
    src: url(/assets/fonts/TheSun-HeavyNarrow.woff2);
    font-weight: normal;
}


//COLORS
$black: #222526;
$bg: #f3f6f7;
$blue: #4085cb;
$blue-light: rgba(64,133,203,.2);
$gray: #eaeeef;
$border: #e4e7e7;


//MEDIA-QUERIES
$breakpoints: (
    'sm': (min-width: 675px),
    'md': (min-width: 980px),
)!default;

@mixin respond-to($breakpoint) {
    @if map-has-key($breakpoints, $breakpoint) {
        @media #{inspect(map-get($breakpoints, $breakpoint))} {
            @content;
        }
    }
}


//GENERAL
*, *::before, *::after {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    background-color: $bg;
    font-size: 15px;
    font-family: 'TheSun', sans-serif;
    font-weight: 400;
    color: $black;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

h1 {
    font-size: 28px;
    font-weight: 400;
    line-height: 28px;
    font-family: TheSunHeavy, sans-serif;

    @include respond-to('sm') {
        font-size: 40px;
        line-height: 45px;
    }
}

h2 {
    font-size: 24px;
    line-height: 28px;
    font-weight: 700;
    margin-bottom: 15px;
}

a {
    text-decoration: none;
    color: $black;
}

p {
    font-size: 18px;
    line-height: 24px;
    font-weight: 300;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.block {
    display: block!important;
}

.blue {
    color: $blue;
}

img {
    display: block;
    width: 100%;
}

.row {
    display: flex;
    width: 100%;
}

.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 0 15px;

    @include respond-to('sm') {
        max-width: 660px;
    }

    @include respond-to('md') {
        max-width: 980px;
    }
}

//HEADER 
header {
    .top_bar {
        background-color: #fff;
        position: relative;
        border-bottom: 1px solid #c4cacb;

        .logo_wrap {
            max-width: 120px;
            margin: 0 auto;
        }

        span {
            color: #fff;
            display: none;
        }

        @include respond-to('sm') {
            background-color: $black;

            .container {
                padding: 0;
            }

            .logo_wrap {
                max-width: 280px;
                height: 120px;
                position: absolute;
            }

            span {
                display: block;
                text-align: center;
                margin-left: 120px;
                line-height: 30px;
            }
        }

        @include respond-to('md') {
            span {
                margin-left: 0;
            }
        }
    }

    .middle_bar {
        background-color: #fff;
        padding: 15px 0;

        @include respond-to('sm') {
            padding: 0;

            .container {
                padding: 0;
            }
        }

        .user_panel {
            display: none;

            @include respond-to('sm') {
                display: flex;
                justify-content: flex-end;
                border: 1px solid $gray;
                padding: 10px 20px 0 20px;

                span {
                    font-size: 17px;
                    font-weight: 500;
                }
            }
            
            .row {
                justify-content: flex-end;
                align-items: center;
                margin-bottom: 10px;

                .avatar {
                    width: 36px;
                    height: 36px;
                    background-image: url(../img/user.png);
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-position: center;
                    margin-left: 10px;
                }

                .box {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-left: 20px;

                    .triangle {
                        position: relative;

                        &::before {
                            position: absolute;
                            content: '▾';
                            right: -14px;
                        }
                    }
                }

                .search {
                    width: 24px;
                    height: 24px;
                    background-image: url(../img/search.png);
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-position: center;
                    margin-left: 10px;
                }
            }
        }

        .hamburger {
            position: relative;
            width: 30px;
            height: 3px;
            background-color: $black;
            margin: 0 auto;
    
            &::before {
                position: absolute;
                content: '';
                background-color: $black;
                width: 30px;
                height: 3px;
                top: 7px;
                bottom: 10px;
            }
    
            &::after {
                position: absolute;
                content: '';
                background-color: $black;
                width: 30px;
                height: 3px;
                top: -7px;
                bottom: 10px;
            }

            @include respond-to('sm') {
                display: none;
            }
        }

        nav {
            @include respond-to('sm') {
                border-left: 1px solid $gray;
                border-right: 1px solid $gray;
            }

            #navbar {
                padding: 20px 0;
                text-align: center;
                display: none;
                
                li {
                    border-bottom: 1px solid $gray;
                    text-transform: uppercase;
                    padding: 3px 0;
                    cursor: pointer;
                }

                @include respond-to('sm') {
                    display: flex;
                    justify-content: space-around;
                    padding: 10px 0;
                    
                    li {
                        border-bottom: none;
                        position: relative; 

                        &:hover {
                            color: $blue;
                        }

                        &:nth-child(5) {
                            color: $blue;
                        }

                        &:last-child {
                            &::before {
                                display: none;
                            }
                        }

                        &::before {
                            position: absolute;
                            content: '';
                            background-color: $border;
                            top: 50%;
                            transform: translateY(-50%);
                            right: -4px;
                            height: 20px;
                            width: 1px;
                        }
                    }
                }

                @include respond-to('md') {
                    li {
                        font-size: 21px;
                        
                        &::before {
                            right: -9px;
                        }
                    }
                }
            }
        }
    }

    .bottom_bar {
        background-color: $blue;
        color: #fff;

        @include respond-to('sm') {
            padding: 5px 0;
        }

        .row {
            justify-content: center;

            ul {
                display: flex;
                justify-content: center;
                flex-wrap: wrap;

                li {
                    font-weight: 500;
                    margin: 0 10px;
                    padding: 5px 0;
                    position: relative;
                    cursor: pointer;

                    @include respond-to('sm') {
                        &::after {
                            position: absolute;
                            content: '';
                            background-color: #24588c;
                            top: 50%;
                            transform: translateY(-50%);
                            right: -9px;
                            height: 15px;
                            width: 1px;
                        }

                        &:hover {
                            &::before {
                                position: absolute;
                                content: '';
                                background-color: #24588c;
                                left: 0;
                                bottom: -4px;
                                width: 100%;
                                height: 4px;
                            }
                        }

                        &:last-child {
                            &::after {
                                content: unset;
                            }
                        }

                        &:nth-child(3) {
                            &::before {
                                position: absolute;
                                content: '';
                                background-color: #24588c;
                                left: 0;
                                bottom: -4px;
                                width: 100%;
                                height: 4px;
                            }
                        }
                    }

                    @include respond-to('md') {
                        font-size: 18px;

                        &::after {
                            right: -12px;
                        }
                    }
                }
            }
        }
    }
}

main {
    @include respond-to('sm') {
        margin-top: 25px;
    }

    .container {
        background-color: #fff;
        display: flex;
        flex-direction: row;

        #main {
            width: 100%;
            padding: 15px 0;

            @include respond-to ('md') {
                width: 66.66666%;
                padding: 15px 10px;
            }

            .header_article {
                margin-bottom: 15px;
            }

            .author {
                margin-bottom: 15px;

                .time {
                    color: #6e7070;
                    font-size: 12px;
                    font-weight: 300;
                }
            }

            .social {
                border-top: 1px solid $gray;
                border-bottom: 1px solid $gray;
                padding: 5px 0;
                display: flex;
                justify-content: flex-start;
                margin-bottom: 15px;

                .share_items {
                    position: relative;
                    display: flex;
                    justify-content: flex-start;

                    &::before {
                        content: '';
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        right: -7px;
                        background-color: $gray;
                        height: 35px;
                        width: 1px;
                    }

                    .twitter {
                        width: 36px;
                        height: 36px;
                        display: inline-flex;
                        justify-content: center;
                        align-items: center;
                        padding: 4px;
                        border-radius: 4px;
                        background-color: #00aeef;
                        position: relative;
                        margin-right: 5px;

                        &::before {
                            position: absolute;
                            content: '';
                            background-image: url(../img/twitter.png);
                            background-size: cover;
                            background-repeat: no-repeat;
                            height: 24px;
                            width: 24px;
                        }
                    }

                    .facebook {
                        width: 36px;
                        height: 36px;
                        display: inline-flex;
                        justify-content: center;
                        align-items: center;
                        padding: 4px;
                        border-radius: 4px;
                        background-color: #1877f1;
                        position: relative;

                        &::before {
                            position: absolute;
                            content: '';
                            background-image: url(../img/facebook.png);
                            background-size: cover;
                            background-repeat: no-repeat;
                            height: 24px;
                            width: 24px;
                        }
                    }
                }

                .comment_items {
                    .comment {
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;
                        background-color: #007aff;
                        height: 36px;
                        padding: 4px 8px;
                        border-radius: 4px;
                        margin-left: 15px;
                        position: relative;

                        &::before {
                            position: absolute;
                            content: '';
                            background-image: url(../img/chat.png);
                            width: 24px;
                            height: 24px;
                        }

                        span {
                            color: #fff;
                            margin-left: 30px;
                        }
                    }
                }
            }

            .article_wrapper {

                .intro {
                    font-weight: 700;
                }

                p {
                    margin-bottom: 15px;
                    word-break: break-word;
                }

                figure {
                    display: block;
                    padding: 0;
                    margin: 3px 0 16px;
                    width: auto;
                    border-bottom: 1px solid #adafb0;

                    figcaption {
                        padding: 8px 0;

                        .figcaption_title {
                            font-size: 16px;
                            font-weight: 700;
                            line-height: 22px;
                        }

                        .figcaption_credit {
                            font-size: 12px;
                            font-weight: 500;
                            line-height: 22px;
                            display: inline-block;
                            color: #6e7070;
                        }
                    }
                }
            }
        }

        aside {
            display: none;

            @include respond-to('md') {
                width: 33.3333%;
                display: block;
                padding: 15px 10px;
            }

            .aside_box {
                margin-bottom: 15px;

                .img_text {
                    border-left: 1px solid $border;
                    border-right: 1px solid $border;
                    border-bottom: 1px solid $border;
                    padding: 12px 8px 8px;
                    position: relative;
    
                    .exclusive {
                        font-family: 'TheSunHeavy', sans-serif;
                        position: absolute;
                        left: 10px;
                        top: -20px;
                        background-color: $blue;
                        color: #fff;
                        font-size: 18px;
                        line-height: 18px;
                        padding: 5px 10px;
                    }
    
                    h2 {
                        font-family: 'TheSunHeavy', sans-serif;
                        font-size: 20px;
                        font-weight: 400;
                        line-height: 24px;
                        margin-bottom: 0;
                    }
                }
            }
        }

        #comments {
            padding: 30px 0;
            
            .container {
                flex-direction: column;
            }

            .add_comments_wrapper {
                width: 100%;

                .comments_count {
                    padding-bottom: 20px;
                    border-bottom: 1px solid $gray;

                    .chat_icon {
                        width: 32px;
                        height: 32px;
                        background-image: url(../img/comment.png);
                        background-size: 100%;
                        margin-right: 10px;
                    }
    
                    .count {
                        font-family: 'TheSunHeavy';
                        font-size: 24px;
                        font-weight: 700;
                        line-height: 24px;
                    }
                }

                .comments_sort {
                    margin: 20px 0;

                    .row {
                        justify-content: space-between;
                        align-items: center;

                        select {
                            font-family: 'TheSun';
                            font-weight: 600;
                            min-width: 160px;
                            font-size: 14px;
                            color: $black;
                            line-height: 24px;
                            padding: 3px 10px;
                            border: 1px solid #e6eaeb;
                            outline: none;
                        }

                        .bell {
                            background-image: url(../img/bell.png);
                            width: 16px;
                            height: 16px;
                            background-size: 100%;
                        }
                    }
                }

                .add_comment {
                    margin-bottom: 20px;

                    .textarea {
                        max-width: 100%;
                        border: 1px solid #d4d6d7;
                        border-radius: 4px;
                        position: relative;
                        box-shadow: inset 0 3px 3px 0 rgba(0,0,0,.05);
                        cursor: text;
                        outline: none;
                        padding: 15px 15px 40px;

                        span {
                            color: #a8abae;
                            font-weight: 300;
                            font-size: 14px;
                        }
                        
                    }

                    .row {
                        justify-content: flex-end;
                        padding: 5px 0;

                        .cancel {
                            background: none;
                            border: 1px solid #007aff;
                            color: #007aff;
                            padding: 0 20px;
                            font-weight: 700;
                            font-size: 16px;
                            line-height: 24px;
                            height: 34px;
                            min-width: 54px;
                            cursor: pointer;
                            border-radius: 4px;
                        }

                        .sign_in {
                            background: #007aff;
                            border: 1px solid #007aff;
                            color: #fff;
                            padding: 0 20px;
                            font-weight: 700;
                            font-size: 16px;
                            line-height: 24px;
                            height: 34px;
                            min-width: 54px;
                            cursor: pointer;
                            border-radius: 4px;
                            margin-left: 10px;
                        }
                    }
                }
            }

            .comment_wrapper {
                display: block;
                width: 100%;
                
                .comment {
                    border-bottom: 1px solid $border;
                    padding-top: 12px;
                    padding-bottom: 15px;

                    .comment_top {
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;
                        margin-bottom: 10px;

                        .avatar {
                            background-color: $gray;
                            width: 32px;
                            height: 32px;
                            border: 1px solid #c4cacb;
                            border-radius: 50%;
                            display: grid;
                            justify-content: center;
                            align-items: center;
                            margin-right: 20px;
                        }

                        .name {
                            color: #373e44;
                            cursor: pointer;
                            font-size: 13px;
                            font-weight: 700;
                            line-height: 18px;
                            margin-right: 25px;
                        }

                        .date {
                            font-weight: 400;
                            font-size: 11px;
                            line-height: 18px;
                            color: #7b7f83;
                        }
                    }

                    .comment_middle {
                        padding-left: 53px;
                        margin-bottom: 10px;

                        p {
                            font-size: 16px;
                            line-height: 24px;
                        }
                    }

                    .comment_bottom {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        padding-left: 53px;
                        margin-bottom: 10px;

                        .reply {
                            font-size: 14px;
                            line-height: 24px;
                            font-weight: 600;
                            color: #80808c;
                        }

                        .like_wrapper {
                            display: flex;
                            justify-content: center;

                            .like {
                                border: 1px solid #8c7e7e;
                                padding: 14px 20px;
                                border-radius: 4px;
                                opacity: .5;
                                position: relative;
    
                                &::before {
                                    position: absolute;
                                    content: '';
                                    background-image: url(../img/like.png);
                                    width: 16px;
                                    height: 16px;
                                    background-size: 100%;
                                    top: 50%;
                                    left: 50%;
                                    transform: translate(-50%, -50%);
                                }
    
                                &:hover {
                                    opacity: 1;
                                }
                            
                            }
    
                            .unlike {
                                border: 1px solid #8c7e7e;
                                padding: 14px 20px;
                                border-radius: 4px;
                                opacity: .5;
                                position: relative;
                                margin-left: 10px;
    
                                &::before {
                                    position: absolute;
                                    content: '';
                                    background-image: url(../img/unlike.png);
                                    width: 16px;
                                    height: 16px;
                                    background-size: 100%;
                                    top: 50%;
                                    left: 50%;
                                    transform: translate(-50%, -50%);
                                }
    
                                &:hover {
                                    opacity: 1;
                                }
                            
                            }
                        }
                    }
                }
            }
        }
    }
}